.featured--close{
  color: #fff;
  width: 40px;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
}
/* SEARCH */

.search-background {
  background: #141414;
}

.search-container {
  padding: 0 4%;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(133px,1fr));
  grid-template-rows: auto;
  grid-row-gap: 40px; 
  column-gap: 1px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}


.search-container div {
  padding: 0px 2px;
  height: 200px;
  width: 133px;
  transition: all 0.2s ease-in-out;

}

.search-container div:hover {
  transform: scale(1.2);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.search-container div img {
  height: 100%;
  width: -moz-available;
}
